# AtlasBahamas generated secret values (42 chars each)
ATLASBAHAMAS_DEPLOY_HOST=LHWoxO2XgguInwMa43MdRlHU3KRjnw5bJGKJiBw3UZ
ATLASBAHAMAS_DEPLOY_HOST_FINGERPRINT=wV0LVnfKX64jK45HAbXqSe2WcCJBNI5PtrIGvwZ7FB
ATLASBAHAMAS_DEPLOY_PATH=QvAkavJYuSFb5tenI52Qk0jGpqmwhvXjIh2joRaXlc
ATLASBAHAMAS_DEPLOY_PORT=H0B1nbhonXXmdBP5pobDBrDuSkrCJNeDHqvci5uqHh
ATLASBAHAMAS_DEPLOY_SSH_KEY=agWEOVmh327U4mYja7SFPeF1PtDWbWxqAsk9lkVVQy
ATLASBAHAMAS_DEPLOY_USER=JaiRfpSnlll01gyXf3gulOjGyCkcbGuVTilFqJHrVg
